process {
    withLabel: fastqc {
        cpus = 1
        memory = '8 GB'
    }
    withLabel: indexGenome {
        cpus = 1
        memory = '60 GB'
    }
    withLabel: alignReads {
        cpus = 8
        memory = '36 GB'
    }
    withLabel: runMultiQC {
        cpus = 1
        memory = '8 GB'
    }
    withLabel: runFeatureCounts {
        cpus = 4
        memory = '8 GB'
    }
}

docker {
    enabled = true
}
